@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar .nav .nav-item .nav-link.hover:hover{ 
        @apply transition-colors duration-300 ease-out
    }

    .sidebar .nav .nav-item.nothing.active > .nav-link.hover{ 
        color: red !important;
        background: rgb(31, 31, 31)
        ;
    }
  
}

@layer base {
    * {
        font-family: Nunito, sans-serif;
    }
}
